*.o
*.so
*.exe
*.hi
*.a
*.swp
*.swo
__pycache__
_obj
grammar/output/
notes/_build/
third_party/nacl-20110221/build
compiler/me/cache/
compiler/me/cabal.sandbox.config
compiler/me/dist-newstyle
compiler/me/src/Foster/Tokens.hs
compiler/me/src/FosterIL_capnp.hs
compiler/me/src/FosterIL_capnp.foster
tools/lemon-foster/lemon-foster
**/fosterc-tmp/
**/fosterc-z3-cache.cbor
**/meGCstats.txt
**/c2f.raw.foster
grammar/foster/lemon/parser.out
grammar/foster/re2c/fosterlexer.noyych.c
grammar/foster/re2c/fosterlexer.noyych.foster
